/* indexのフォーマット */
.banner{
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper{
    position: relative;
    height: 500px;
    background-color: pink;
}

.banner .aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, .8);
}

.banner .aside li{
   
    height: 50px;
    line-height: 50px;
    color: white;
}

.banner .aside  a{
    /* display: block; */
    padding-left: 36px;
    padding-right: 19px;
    
    height: 50px;
    color: #f5f5f5;

}

.banner .aside a span{
    margin-left: 15px;
    font-size: 14px;
}

.banner .aside a :hover{
    background-color: #27ba9b;
}

.banner .aside p{
    margin-right: 10px;
    font-size: 20px;
    float: right;
}

.prev,
.next{
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .2);
    background-image: url(../images/sprites.png);
    border-radius: 50%;


}

.prev{
    left: 260px;
    background-position: 14px -60px;

}

.next{
    right: 10px;
    background-position: -23px -60px; 
}

.banner ol{
    position: absolute;
    left: 680px;
    bottom: 30px;
    width: 200px;
    height: 10px;
}

.banner ol li{
    float: left;
    margin-right: 24px;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 50%;
    cursor: pointer;
}

.banner ol .current{
    background-color: white;
}

.goods .hd{
    height: 114px;
  
    line-height: 114px;
}

.goods .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}

.goods .hd h2 span{
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}

.goods .hd a,
.fresh .hd a{
    float: right;
    color: #999;
}

.goods .hd a::after
.fresh .hd a::after{
    content: '';
    display: inline-block;
    width: 7px;
    height: 13px;
    margin-left: 13px;
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
}

.goods .bd li{
    position: relative;
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
}

.goods .bd li:last-child{
    margin-right: 0;
}

.goods .bd li img{
    width: 304px;
}

.goods .bd li h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 100px;
}

.goods .bd li div{
    color: #9a2e1f;
    font-size: 17px;
    vertical-align: middle;
    padding-left: 110px;
}

.goods .bd li div span{
    font-size: 23px;
    vertical-align: middle;
}

.goods .bd li b{
    position: absolute;
    left: 17px;
    top: 18px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px;
    font-size: 18px;
    color: #27ba9b;
    font-weight: 400;
    line-height: 24px;
}

.fresh .hd{
    height: 96px;

    line-height: 96px;

}

.fresh .hd h2{
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}

.fresh .hd  a{
    float: right;
}

.fresh .hd .more{
    float: right;
}

.fresh  .hd ul a{
    padding: 0 7px;
    margin-left: 7px;
    color: black;
}



.fresh  .hd ul a:hover{
    background-color: aqua;
    color: #f0f9f4;
}

.fresh .bd .left{
    display: inline-block;
    width: 240px;
    height: 610px;
    background-color: pink;
}

.fresh .bd .right{
    float: right;
    width: 1000px;
    height: 610px;
    background-color: skyblue;

}
